<html>
    <head>
        <title>Error!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="hold-transition bg-light bg-darken-xl">
        <div class="wrapper">
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <a href="/" class="nav-link"><h5>e-pass registration portal</h5></a>
            </nav>
            <div class="content-wrapper">
                <section class="content-header card bg-danger text-white">
                    <h4 class="card-body">No data with the given ID {{id}}</h4>
                </section>
            </div>
        </div>
    </body>
</html>